# Your application Client ID from the Spotify Developer Dashboard
SPOTANTIC_AUTH_CLIENT_ID=...
# Your application Client Secret from the Spotify Developer Dashboard
SPOTANTIC_AUTH_CLIENT_SECRET=...
# Remote or third-party redirect endpoints are not supported
SPOTANTIC_AUTH_REDIRECT_URI=http://127.0.0.1:8000/callback
# Space-separated list of scopes to be granted
SPOTANTIC_AUTH_SCOPE=user-library-read user-library-modify

# Controls package-level logging; if `false`, logging is completely disabled
SPOTANTIC_LOGGING_ENABLE=false
# Controls logging level; if `true`, logging includes debug messages
SPOTANTIC_LOGGING_DEBUG=true
# Directory to store session logs; if not provided, logs are only written to STDOUT
SPOTANTIC_LOGGING_LOGS_DIR=logs/
