# Your application Client ID from the Spotify Developer Dashboard
SPOTANTIC_AUTH_CLIENT_ID=...
# Your application Client Secret from the Spotify Developer Dashboard
SPOTANTIC_AUTH_CLIENT_SECRET=...
# Remote or third-party redirect endpoints are not supported
SPOTANTIC_AUTH_REDIRECT_URI=http://127.0.0.1:8000/callback
# Space-separated list of scopes to be granted
SPOTANTIC_AUTH_SCOPE=user-library-read user-library-modify
# File path where the access token information should be stored
SPOTANTIC_AUTH_ACCESS_TOKEN_FILE_PATH=.token_info_cache
# If `true`, Spotantic will save access token information every time the token is obtained.
# The token is stored in the filepath indicated by SPOTANTIC_AUTH_ACCESS_TOKEN_FILE_PATH
SPOTANTIC_AUTH_STORE_ACCESS_TOKEN=true

# Controls package-level logging; if `false`, logging is completely disabled
SPOTANTIC_LOGGING_ENABLE=false
# Controls logging level; if `true`, logging includes debug messages
SPOTANTIC_LOGGING_DEBUG=true
# Directory to store session logs; if not provided, logs are only written to STDOUT
SPOTANTIC_LOGGING_LOGS_DIR=logs/
